body{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
display: flex;
flex-direction: column;
background-color:#FBF7E3 ;
}

h1{
font-size: 18px;
font-weight: bold;
}

img{
width: 270px;
padding: 10px;
}